.country:hover {
  fill: red;
}

div {
  border: 1px solid #000000;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-wrap: wrap;
}

#data > li {
  padding-left: 50px;
}

.mapcontainer {
  margin-left: 10px;
}

#mapradio {
  display: flex;
}

#map {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

#bar {
  text-align: right;
}